HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Strapi
STRAPI_API_TOKEN=your_token_here
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337

# Next
NEXT_PUBLIC_SITE_URL=http://localhost:3000